


/*************************************************Onglets déchets*********************************************/
#onglets{
    position: relative;
}

#onglets_dechets{
    display: flex;
    height: 30vh;
    margin: 0 auto;
    box-shadow: -4px 5px 15px 6px rgba(0,0,0,0.3);
    width: 80%;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#onglets_dechets button{

    height: 100%;
    width: 12.5%;
    border: none;
    position: relative;
    padding: 2vw 4.5vh;
    background-color: white;
    color: #1F1F1F;
    text-decoration: none;
}

#onglets_dechets button p {
    font-size: 1.3em;
    margin-top: 2%;
    text-align: center;
}


#onglets_dechets button:hover{   
    background-color: #CF1414;
    color: #ffffff;
    height: 35vh;
    bottom: 8%;


}


#rouge{
    height: 15vh;
    background-color: #b41111;
}

/*******************************Fin onglets déchets*********************************************/

.vide{
    height: 8vh;
}

.separation{
    margin: 5%;
    border: 1px solid #ccc;
    position: relative;
}


/********************Assainissement***********************/



.sousTitre{
    text-align: center;
    font-weight: bold;
}

#assainissement h2{
    margin-bottom: 3%;
}

#assainissement #Assain_contenu .collec{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    width: 82%;
    margin: 0 auto;
}

#assainissement #Assain_contenu .collec .im{
    background-color: black;
}


#assainissement #Assain_contenu .collec .assain{
    width: 40vw;


}

#assainissement #Assain_contenu .collec .assain .SavoirP{
    margin-top: 2%;
    margin-right: 5%;
    text-decoration: none;
    color: white;
    background-color: #CF1414;
    transition: 0.3s;
    padding: 1% 5%;
    border-radius: 20px;
    position: relative;
    float: right;

}

#assainissement #Assain_contenu .collec .assain .SavoirP:hover{
    text-decoration: none;
    color: white;
    background-color: #b41111;
}

#assainissement #Assain_contenu .collec .assain .assain_txt{
    text-align: center;
    width: 90%;
    margin: 0 auto;

}
/************* Début Gestion Assainissement/*************/

#gestion_assai #cartes_assain {

    width: 60%;
    margin: 0 auto;
}

#gestion_assai h3{
    text-decoration: underline;
}
#gestion_assai .cAssai{
    margin: 2%;
}

#gestion_assai #carte_assai1{
    float: left;
}

#gestion_assai #carte_assai2{
    float: right;
}
/************* Fin Gestion Assainissement/*************/
/********************Fin assainissement***************************/