/*************************************************Onglets déchets*********************************************/


#onglets{
    position: relative;
}

#onglets_dechets{
    display: flex;
    height: 30vh;
    margin: 0 auto;
    box-shadow: -4px 5px 15px 6px rgba(0,0,0,0.3);
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#onglets_dechets button{

    transition: 0.5s;
    width: 12.5%;
    border: none;
    position: relative;
    padding: 2vw 4.5vh;
    background-color: white;
    color: #1F1F1F;
    text-decoration: none;
}

#onglets_dechets button:hover{
    transition:  0.5s;
}

#onglets_dechets button p {
    font-size: 0.8em;
    margin-top: 2%;
    text-align: center;
}


#onglets_dechets button:hover{   
    background-color: #CF1414;
    color: #ffffff;
    height: 35vh;
    bottom: 8%;
}


#rouge{
    height: 15vh;
    background-color: #b41111;
}

/*******************************Fin onglets déchets*********************************************/





/**********************************Début page déchets******************************************/



.titre{


    text-align: center;
    color: #CF1414;
    font-weight: bold;
    padding: 3vh;
    font-size: 2em;
    text-decoration: none;

}



/********************Début Caroussel*******************************/

.container{
    padding: 2%;

}

.slidder-wrapper{
    position: relative;
}

.slidder-wrapper .btnCar{
    position: absolute;
    height: 60px;
    width: 40px;
    color: white;
    background-color: #CF1414;
    border: none;
    outline: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;

}

.slidder-wrapper .btnCar:hover{
    background-color: #b41111;

}

.slidder-wrapper .btnCar#gauche{
    left: -20px;

}


.slidder-wrapper .btnCar#droite{
    right: -20px;
    
}


.slidder-wrapper .calColl{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;

}

.card img{
    height: 40%;
    width: 90%;
    object-fit: cover;
    margin: 0 auto;
}

.slidder-wrapper .calColl::-webkit-scrollbar{
    display: none;
}


/********************Fin Caroussel*******************************/
/********************Début Footer Déchets*******************************/
.PageD footer .renseignement{

    text-align: center;
    padding: 2vh;
    background-color: #1F1F1F;
    color: #ffffff;
    letter-spacing: 1px;
}

.PageD footer .infoFooter{
    width: 60%;
    margin: 0 auto;
}

.PageD footer .service_dechets{
    padding: 2px;
    float: left;
    margin-left: 20px;
    margin-top: 5%;
}

.PageD footer .fil_jaune{
    float: right;
    margin-left: 10px;
}


#CAB{
    font-weight:bold; 
}

#fil_jaune{
    padding-left:2vw;
}


/********************Fin Footer Déchets*******************************/

/********************Début page maintenance*******************************/

.maintenance div{
    margin: 5% auto;
    width: 18%;
} 

.maintenance div img{
    margin: 5% auto;
    width: 100%
} 


.maintenance div p{
    color: #1F1F1F;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
}

/********************Fin page maintenance*******************************/
/********************Début Actu********************/
#D_Actus{
    display: block;
}
/********************Fin Actu**********************/
/********************Début déchet menagers**********/


#D_menager{
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: relative;
}

#D_menager #description{
    padding: 2vh;
    margin: 0 auto;
    width: 70%;
}

#D_menager #description .txt{
    text-align: center ;
    color: #666;
}

#D_menager #CalCol{
    text-align: center;
    padding: 2vh;
    background-color: #1F1F1F;
    color: #ffffff;
    letter-spacing: 1px;
}


#D_menager .hero{
    width: 80%;
    position: relative;
    margin: 10px auto;
    overflow: hidden;
}

#D_menager .hero .btn-box{
    display: flex;
    border-bottom: 1px solid #ccc;
}

#D_menager .hero .btn-box button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold ;
}

#D_menager .hero .btn-box .fa-solid{
    transition: 0.3s;
    margin-right: 15px;
}



#D_menager .hero .btn-box button:hover .fa-solid{
    color: #CF1414;
}

#D_menager .hero .content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5% auto;
}


#D_menager #QBeauvais{
    display: inline;
    color: #CF1414;
}


#D_menager #CQuartier{
    margin: 0 auto;
    width: 70%;
    font-size: 1.2em;
}

#D_menager #CRurales{
    display: none;

}


#D_menager #QBeauvais .btn{
    background-color: #CF1414 !important;
    border: none !important;

}

#D_menager #QBeauvais .btn:hover{
    background-color: #db5e5e !important;
}

#D_menager #CRurales #btnRurales{
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    display: inline;
}


#D_menager #CRurales #btnRurales .btnCommunes{
    display: inline-block;
    padding: 0.5em;
    background-color: #CF1414;
    margin: 3px;

}

#D_menager #CRurales #btnRurales .btnCommunes .btnCRurales{
    color: white;
    text-decoration: none;
}



/********************Fin déchet menagers************/
/********************Début verre********************/


/********************Fin verre*********************/
/********************Début vegetaux*****************/



/********************Fin vegetaux*******************/
/********************Début encombrants************/



/********************Fin encombrants****************/
/********************Début compostage*****************/

#info_compost{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte{
    width: 25vw;
    height: 50vh;
    overflow: hidden;
    border: 8px solid #1F1F1F;
    border-radius: 25px;
    position: relative;
    margin: 5%;
}

.carte:hover .carteBody{
    right: 0;
}

.carte-img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.carteBody{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #494545a8;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}

.carteTitre{
    font-size: 45px;
    font-weight: 500;
}

.carteText{
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.carteBtn{
    color: white;
    background: #CF1414;
    width: 7vw;
    padding: 0.5vh 1vw;
    text-transform: capitalize;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
}

#compost_contenu #sousTitre{

    text-align: center;
    color: #1F1F1F ;
    padding: 3vh;
    font-size: 1.5em;
}




#info_compost .compost{
    position: relative;
    display: inline-block;

    width: 25vw;
    height: 25vh;
    background-color: #F0F0F0;

}



/********************Fin compostage*******************/
/********************Début points verts***************/

/********************Fin points verts*****************/
/********************Début guide**********************/


/********************Fin guide************************/
/**********************************Fin page déchets******************************************/

/********************Début responsive***************************/
@media(max-width:1151px){
    .PageD{
        width: 100%;
    }

    #onglets_dechets{
        width: 100%;
        z-index: 10;
        position: inherit;
        left: 0%;
        transform: none;
    }
    
    #onglets_dechets button p {
        display: none;
    }
    
    
    #onglets_dechets button:hover{   
        height: 32vh;
        bottom: 3%;
    }
    
    #rouge{
        display: none;
    }

    .PageD footer #infoFooter{
        width: 90%;
    }


    .carte{
        width: 30vw;
    }

}



@media(max-width:801px){  
    #onglets_dechets{
        display: block;
        margin: 0 auto;
        box-shadow: -4px 5px 15px 6px rgba(0,0,0,0.3);
        width: 100%;
        height: 80vh;

    }
    #onglets_dechets button{   
        width: 100%;
        height: 10vh;
        
    } 
    #onglets_dechets button:hover{   
        bottom: 0%;
        height: 10vh;
    }

    .maintenance div{
        width: 45%;
    }

    .PageD footer #renseignement{

        text-align: center;
        padding: 2vh;
        background-color: #1F1F1F;
        color: #ffffff;
        letter-spacing: 1px;
    }
    
    .PageD footer #infoFooter {
        width: 79%;
        margin: 0 auto;
    }
    

    .PageD footer .service_dechets{
        display: none;
    }

    .carte{
        width: 90%;
        height: 90vh;
    }

    #info_compost{
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    .carteBtn{
        width: auto;
    }

}
/********************Fin responsive***************************/
