:root{
    --width-screen : 0;
    --negative-width-screen : 0;
    --bg-color-black : #1F1F1F;
    --bg-color-red : #CF1414;
}

*{
    /* background-color: var(--bg-color); */
    /* background-color: rgba(255, 0, 0, 0.1); */
    /* outline: solid red; */
}

.qualite > h1{
    color: red;
}

#topImg{
    width: 100%;
}

.container{
    /* -5px parce que sans il y a un espace blanc entre l'image et mon container */
    margin-top: -5px;
    background: linear-gradient(to right, var(--bg-color-red) 50%, var(--bg-color-black) 50%);
    background-color: var(--bg-color-black);
}

#qualiteServiceConainer{
    /* background-color: var(--bg-color); */
    margin-left: 5%;
    margin-right: 5%;
    /* display: grid; */
    /* grid-template-rows: repeat(6, 1fr); */
}

#qualiteServiceConainer > div{
    display: block;
    /* border: 2px solid rgb(233, 171, 88); */
}


.qualite{
    height: 15em;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* text-align: center; */
    /* position: absolute; */
    /* padding: 50%; */
    /* vertical-align: top; */
    /* outline: rebeccapurple solid; */
    /* border-radius: 5px;
    width: calc(100%/6);
    height: 100%;
    display: inline-block; */
    
}

#qualiteServiceConainer{
    /* outline: solid black; */
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-top: 10px; */
}

.textQualite{
    z-index: 1;
    /* vertical-align: auto; */
    /* margin: 0 50%; */
    flex-direction: column;
    text-align: center;
    color: aliceblue;
    visibility: visible;
    padding-bottom: 2%;
}

.textQualite p{
    z-index: 1;
}

.icone{
    /* position: relative; */
    /* display: inline-block; */
    z-index: 0;
    position: relative;
    height: 3em;
    /* top: 50%; */
    /* top : 50px */
    /* margin-top: 10%; */
    /* margin: 50% 0; */

    /* margin-top: 50%; */
}

#qualiteServiceConainer .arrow{
    width: 150%;
    transform: translateX(-50%);
}

#qualiteServiceConainer{
    overflow: hidden;
}

.banniere{
    width: 100%;
    height: 50vh;
}

.banniereContent{
    width: auto;
    height: auto;
    align-items: center;
}

.slideTop{
    animation: slideFromBottom 1s ease-in-out;
}



.cube{
    /* transform: rotate(50deg); */
    z-index: 3;
    /* width: var(--width-screen); */
    height: 50px;
    background-color: rebeccapurple;
    position: relative;
    animation: rightToLeft 2s ease-in-out;
}

[invisible]{
    background-color: red;
    visibility: hidden !important;
    position: absolute;
}

.filter-orange{
    /* ça fait du orange ne me demandez pas pourquoi */
    filter: invert(75%) sepia(22%) saturate(4607%) hue-rotate(343deg) brightness(95%) contrast(87%);
}

.bus{
    /* transition: 2s, ease-in-out; */
    visibility: hidden;
    height: 3em;
}

.leftToRight{
    /* transform: translateX(500px); */
    /* transform: rotate(50deg); */
    /* transition: 4s ease-in-out; */
    animation: leftToRight 2s ease-in-out;
}

.flecheContainer{

}

.fleche{
    z-index: 3;
    display: flex;
    /* position: relative; */
    background-color: orange;
    /* position: absolute; */
    z-index: 0;
    flex-direction:row;
    width: 45%;
    height: 100%;
    /* background-color: rebeccapurple; */
}

.carre{
    height: 100%;
    width: 75%;
    background-color: var(--bg-color-red);
}

.tri{
    /* height: 100%; */
    width: 5%;
    clip-path: polygon(0 0, 100% 50%, 0% 100%);
    background-color: blue;
}

.carteCoralisContainer{
    overflow: hidden;
}

#carteCorolis{
    /* width: 100%; */
    transform: scale(0.8) translateX(-12.5%) translateY(-12.5%);
    top: -12.5%;
    left: -12.5%;
    /* width: 100%; */
    /* transform: :; */
}


.longBar{
    z-index: -1;
    position: absolute;
    background-color: var(--bg-color-black);
    width: 100%;
    height: 2em;
    margin-top: calc(25px - 1em);

}

.barT{
    display: flex;
    height: 100%;
    background-color: var(--bg-color-black);
    /* flex-direction: row; */
    justify-content: space-evenly;
    width: 100%;
    /* outline: solid; */
    /* border-radius: 0%; */
    
}

.barT .tarif{
    background-color: var(--bg-color-red);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.tarifContent{
    display: block;
    margin: 0 5%;
}

.tarifContent div{
    position: absolute;
    position: relative;
    display: none;
    margin: 5em 0;
    
}

.jeune{
    background-image: url("../img/transports/studentpng.png");
}

.retraite{
    background-image: url("../img/transports/person-cane-solid.svg");
}

.emploi{
    background-image: url("../img/transports/860665.png");
}

.invalide{
    background-image: url("../img/transports/wheel.png");
}

.public{
    background-image: url("../img/transports/person.png");
}

.publicTer{
    background-image: url("../img/transports/train.png");
}

.textBox{
    text-align: center;
    transform: translateY(-125%);

    background-color: var(--bg-color-black);
    color: aliceblue;
    width: 5em;
    border-radius: 10px;
    display: none;
}

.barT .bus{
    width: 75px;
    height: 75px;
    visibility: visible;
    position: absolute;
    left: 0%;
}

@keyframes leftToRight {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(var(--width-screen));
    }
}

@keyframes rightToLeft {
    0%{
        transform: translateX(var(--width-screen));
    }
    100%{
        transform: translateX(0);
    }
}


@keyframes leftToNormal {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    20%{
        opacity: 1;
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes normalToLeft {
    0%{
        transform: translateX(0%);
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* invisible, puis visible, puis invisible */
@keyframes busAnimationVisibility {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


@keyframes disapear {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes apear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
}

@keyframes slideFromTop {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(100%);
    }
}

@keyframes slideLeftToRightArrow {
    0%{
        transform: translateX(-75%);
    }
    100%{
        transform: translateX(-25%);
    }
}