*{
    margin: 0px;
    padding: 0px;
    font-family: "Arial","Calibri",sans-serif,'Roboto';
    font-size: large;

}

#NavBar{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 4;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    animation: apparition_anime 2s 0.3s ease-out forwards ;
    
}

.btnMenu{
    text-decoration: none;
    text-align: center;
    color: black;
    transition: 0.8s;

}
.btnMenu:hover{
    transform: scale(1.4);
    transition: 0.3s;
}
#logo{
    transition: 0.3s;
}
#logo:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.banniere{
    background-color:#1F1F1F ;
    margin-top: -5px;
    display: flex;
    align-items: center;
    
}
.arrow{
    
    display: flex;
    width: 45%;
    height: auto;
}
.square{
    width: 70%;
    background-color: #CF1414;
}
.triangle{
    width: 30%;
    padding-bottom: 50%; /* Cela garantit que la hauteur est égale à la moitié de la largeur, créant ainsi un triangle équilatéral */
    background-color: #CF1414;
    clip-path: polygon(0 0, 100% 50%, 0% 100%);
    margin-left: -1px;
}
.slideRightElt{
    animation:slide_right 1s ease-in-out
}







@keyframes apparition_anime {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slide_right {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }